@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
}

.header {
    background: rgba(229, 84, 115, 0.1);
    border: 1px solid rgb(240, 235, 235);
}

.container {
    width: 1150px;
    /* height: 500px; */
    margin: 50px auto;
}

/* start header area */

.nav {
    background-image: url('flower-asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.nav-title {
    width: 600px;
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    padding-top: 70px;
}

.nav-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    line-height: 30px;
    width: 560px;
    margin-top: 30px;
    margin-bottom: 32px;
}

.primary-btn {
    padding: 15px 35px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
}

.product-name {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    padding-top: 20px;
}

/* end header area */



/* start product area */

.product-area {
    margin-top: 170px;
    margin-bottom: 130px;
}

.product-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.product-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
    /* why width doesn't work properly */
}

.single-product-1 {

    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.single-product-2 {

    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.single-product-3 {

    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.product-image-1 {
    width: 220px;
    height: 303px;
    margin-left: 40px;
    margin-top: 74px;
}

.product-image-2 {
    width: 272px;
    height: 308px;
    margin-left: 33px;
    margin-top: 55px;
    margin-bottom: 13px;
}

.product-image-3 {
    width: 220px;
    height: 340px;
    margin-left: 40px;
    margin-top: 39px;
}


.all-products {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}